$content-width: 1280px;
$laptop-width: 1279px;
$tablet-width: 768px;
$max-mobile-width: 767px;
$mobile-width: 320px;

$color-highlight: #F1CDB3;
$color-highlight-light: #FDDCC4;
$color-light: #FFFFFF;
$color-dark: #CDCDCD;
$color-text: #4C4C4C;
$color-grey: #B2B2B2;
$color-text-dark: #292929;
$color-header: #545454;
$color-light-brown: #5b483a;
$color-brown: #262425;
$color-dark-brown: #211F20;
$color-background-grey: #F6F6F6;
$color-background-card: #FAFAFA;
$color-shadow: #00000040;
$color-black: #000000;
$color-overlay: rgba(41, 41, 41, 0.6);